body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hwb(0 16% 84%);
}

#title {
    color: white;
    font-size: 40px;
    font-weight: bold;

    margin-bottom: 0;
}

#output {
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(14, 241, 7);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid;
    padding: 15px;
    border-radius: 15px;
}

#input button {
    background-color: grey;
    color: white;
    font-size: 20px;
    padding: 3px 15px;
    border-radius: 15px;
}